<!doctype html>
<html lang="uz">
  <head>
    <meta charset="UTF-8" />
    <title>Profil</title>
  </head>
  <body>
    <h2>Foydalanuvchi Profili: {{ object.username }}</h2>
    <p><strong>Email:</strong> {{ object.email }}</p>
    <p><strong>Ism:</strong> {{ object.first_name }}</p>
    <p><strong>Familiya:</strong> {{ object.last_name }}</p>
    <p>
      <strong>Qo'shilgan sana:</strong> {{ user.date_joined|date:"Y-m-d H:i"
      }}
    </p>

    <a href="{% url 'auth:update' %}">Tahrirlash</a> |
    <a href="{% url 'auth:list' %}">Ro'yxatga qaytish</a>
  </body>
</html>
