<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Ro'yxatdan o'tish</title>
</head>
<body>
    <h2>Yangi hisob yaratish</h2>

    <form method="post" action="{% url 'auth:register' %}">
        {% csrf_token %}

        <div>
            <label for="username">Foydalanuvchi nomi (Username):</label><br>
            <input type="text" id="username" name="username" placeholder="Masalan: ali123" required>
        </div>
        <br>
        <div>
            <label for="email">Email manzil:</label><br>
            <input type="email" id="email" name="email" placeholder="example@mail.com" required>
        </div>
        <br>
        <div>
            <label for="password">Parol:</label><br>
            <input type="password" id="password" name="password" required>
        </div>
        <br>
        <div>
            <label for="confirm_password">Parolni tasdiqlang:</label><br>
           <input type="password" id="confirm_password" name="confirm_password" required>
        </div>
        <br>
        <button type="submit">Ro'yxatdan o'tish</button>
    </form>

    <p>Allaqachon hisobingiz bormi? <a href="{% url 'auth:login' %}">Kirish</a></p>
</body>
</html>