<!doctype html>
<html lang="uz">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p><a href="{% url 'watch_list' %}">⬅️ Barcha soatlar</a></p>
    <hr />
    <form method="POST">
      {% csrf_token %} {% if form.errors %}
      <div style="color: red; font-weight: bold">
        Iltimos, input xatolarini to'g'rilang!
      </div>
      {% endif %}
      <table>
        {{ form.as_table }}
      </table>
      <br />
      <button type="submit">Saqlash</button>
    </form>
  </body>
</html>
